<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./style/style.css">
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js'></script>
</head>
<body>
  <div id="app">
    <div class="phone">
      <div class="calender">
        <div class="head">
          <div class='tag' v-for='tag in tags'>{{tag}}</div>
        </div>
        <div class="body">
          <div class="dayBox" v-for='(day,dayID) in days' 
          :class="dayID==selectedDay?'active':''" 
          @click='selectedDay = dayID'
          :style="getPan(dayID)">
            <div class="infos">
              <div class="ADays">{{day.ADday}}</div>
              <div class="lunar">{{lunar(day.ADday+lunarPan)}}</div>
            </div>
            <div class="eventDot" 
            :class ='{hasEvent: day.events.length>0 }'></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="./js/main.js"></script>
</body>
</html>